* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.container {
    position: relative;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    border: 1px solid #ccc;
}

.container .header .logo {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.container .header .header-img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid #f00;
    cursor: pointer;
}

.container .header .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 20px;
    padding: 6.5rem 20px 2rem;
}

.container .content .image-card {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.container .content .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
